<h1>Successful transaction!</h1>

<%= debug = @session %>
<%= debug = @payment_intent %>

<% payment_id = @payment_intent.id %>

<% customer = Customer.find(current_customer.id)%>%
<% province_tax = Province.find_by(id: customer.province_id)%>

<% order = Order.create(
  payment_id:  @payment_intent.id,
  cosmetic_id: @cosmetic_id,
  customer_id: customer,
  province_id: province_tax.id,
  cosmetic_cost: @session.line_items.data[2],
  tax_cost:    @tax_cost,
  total_cost:  @payment_intent.amount_received,
  order_status: "new")
%>

<%= "ORDER OBJECT BEGINS HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!" %>
<%= debug = order %>